* {
    font-family: "Rimouski", sans-serif;
}

body {
    background-color: #293251;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 350px;
    background-color: #fff;
    border-radius: 20px;
    padding-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.app-title {
    width: 100%;
    background-color: #f4f9ff;
    border-radius: 20px 20px 0 0;
}

.app-title p {
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 1.5em;
    color: #293251;
}

/* Pop-up Notification */
.notification {
    background-color: #f8d7da;
    display: none;
    border-radius: 10px;
    margin: 10px;
}

.notification p {
    color: #721c24;
    font-size: 1em;
    margin: 0;
    text-align: center;
    padding: 10px;
}

/* Weather */
.weather-container {
    width: 100%;
    background-color: #f4f9ff;
    padding: 20px 0;
    border-radius: 10px;
}

.weather-icon {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 10px 0;
}

.weather-icon img {
    max-width: 150px;
    height: auto;
}

/* Temperature */
.temperature-value {
    width: 100%;
    margin: 10px 0;
}

.temperature-value p {
    margin: 0;
    font-size: 3.5em;
    text-align: center;
    color: #293251;
    cursor: pointer;
}

.temperature-value span {
    color: #293251;
    font-size: 0.5em;
}

.temperature-description p {
    padding: 8px 0;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

/* Location */
.location p {
    margin: 0;
    padding: 10px 0;
    color: #293251;
    text-align: center;
    font-size: 1em;
}

/* Humidity */
.humidity {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

.humidity-icon img {
    width: 25px;
    height: auto;
    display: block;
}

.humidity-value p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    color: #293251;
}

.humidity-value span {
    color: #293251;
    font-size: 1em;
}

/* Wind */
.wind {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

.wind-img img {
    width: 25px;
    height: auto;
    display: block;
}

.wind-speed p {
    font-size: 1.2em;
    text-align: center;
    color: #293251;
}

/* Pressure */
.pressure {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

.pressure-icon img {
    width: 25px;
    height: auto;
}

.pressure p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    color: #293251;
}
